* {
    font-family: 'Poppins', sans-serif;

}

body {
    max-width: 1200px;
    margin: 0 auto;
    border: 1px solid rebeccapurple;
}

h1 {
    font-size: 52px;
    font-weight: 600;
}

p {
    font-size: 16px;
    font-weight: 500;
}

.half {
    width: 50%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: antiquewhite;
}

.nav-menu {
    width: 40%;
}

.menu {
    list-style-type: none;
    color: black;
    display: flex;
    justify-content: space-around;
}

.nav-menu a {
    color: red;
    text-decoration: none;
    font-weight: 600;
}

.banner {
    display: flex;
    align-items: center;
    height: 500px;
}

button {
    color: whitesmoke;
    background-color: #E02C6D;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 24px;
    border-radius: 20px;
    border: none;
}

.fa-arrow-right {
    margin-left: 10px;
}

.camera-back {
    background-image: url(./images/Circle\ design.svg);
    height: 99%;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-camera {
    width: 70%;
}